@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');


.card-news{
    height: 300px;
}
.slick-slide div{
    margin-right: 20px;
}
.text-base{
    font-size: 16px;
    font-weight: 600;
}
.container  h3{
    font-size: 25px;
    font-weight: 700;
    color: #3c3c3c;
    padding: 10px 0px;
   
    font-family: "Literata", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
}